@media (max-width: 79em) {
	html {
		font-size: 85%;
	}
}

@media (max-width: 62.5em) {
	html {
		font-size: 75%;
	}
}

@media (max-width: 56em) {
	.d-grid {
		padding-top: 5rem;
		display: flex;
		flex-direction: column;
		gap: 5rem;
	}

	.main-text {
		margin-bottom: 2.5rem;
	}

	.scarecrow-img {
		justify-self: center;
	}
}

@media (max-width: 31.25em) {
	.scarecrow-img {
		width: 85%;
	}
}
